@import "bootstrap-sprockets";
@import "bootstrap";

#logo {
  font-size: 1.8em;
  font-weight: 700;
  color: #fff;
}

.jumbotron {
  text-align: center;
  background-image: asset_url('space.jpg');
  background-size: cover;
  height: 550px;
}

.jumbotron h1 {
  color: #fff;
  font-weight: 700;
  padding-top: 20px;
  padding-bottom: 50px;
  text-transform: uppercase;
}

h1 {
  text-align: center;
}

.center {
  text-align: center;
}

.well h4 {
  font-weight: 700;
  padding-bottom: 5px;
  border-bottom: 1px solid #eaeaea;
}

.well li {
  padding-top: 5px;
  padding-bottom: 15px;
}

.articles-list p {
  padding-bottom: 5px;
}

.article-list-buttons {
  border-top: 1px solid #eaeaea;
  padding-top: 10px;
}

.user-articles-list-buttons {
  border-top: 1px solid #eaeaea;
  padding-top: 5px;
  padding-bottom: 25px;
}

li {
  list-style: none;
}

.btn-lg {
  font-size: 1.5em;
}

.footer {
  color: #696969;
  border-top: 1px solid #eaeaea;
}

.footer p {
  padding-top: 15px;
}