<footer>
  <div class="footer">
    <div class="left-col">
      <li>This is my blog.</li>
    </div>
    <div class="right-col">
      <li><%= link_to "About", about_path %></li>
    </div>
  </div>
</footer>